.blink { animation: blinker 1s linear infinite; }

@keyframes blinker {
  50% { opacity: 0; }
}

body {
  background-color: #1c1a27;
}

ul {
  background-color: #fb8d1a;
}

.city-title {
  color: rgb#573cfa;
  font-size: 48px;
}

.framed-image {
  display: block;
  float: right;
  clear: right;
  width: 60%;
  height: auto;
  margin: 10px 0 10px 10px;
  border: 1px solid #02864a;
  border-radius: 10px;
}

.landmarks {
  color: rgb#573cfa;
  font-family: "Courier New", Courier, monospace;
}
